<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
     <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <form th:action="@{/auth/reset_password}" method="post" id="resetForm">
        <!-- token nascosto, ricevuto dal link via email -->
        <input type="hidden" name="token" th:value="${token}" />

        <table>
            <thead>
                <tr>
                    <td>
                        <b>Your password must be at least 8 characters</b>
                    </td>
                </tr>
            </thead>
            <tr>
                <td>Insert New Password</td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="password" name="newPassword" required minlength="8" />
                </td>
                <td id="errorPassword" style="color: red; visibility: hidden;"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td id="errorConfirm" style="color: red; visibility: hidden;"></td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="confirm"  name="confirmPassword" required />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" id="myBtn" >Confirm</button>
                </td>
            </tr>
        </table>
    </form>
</body>

<script th:src="@{/js/reset-password.js}"></script>

</html>
